/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* custom properties */
:root {
    --bgd-header: #000000;
    --bgd-main: #000000;
    --bgd-footer: #222222;
    --bgd-grey: #4A4A4A;
    --font-white: #FFFFFF;
    --font-red: #F82639;
    --share-scr-color: #4BC800;
}

/* generics */
body{
    font-family: sans-serif;
}

/* utilities */
header, footer {
    height: 80px;
}

header{
    background-color: var(--bgd-header);
}

footer {
    background-color: var(--bgd-grey);
}

main {
    height: calc(100vh - 160px);
    overflow: auto;
    padding: 20px 0;
    background-color: var(--bgd-main);
}

.d-flex {
    display: flex; 
}

.debug .border {
    border: 2px dashed rgb(23, 9, 226);
}

.nav-header > .button {
    background-color: var(--bgd-grey);
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
    font-size: 14px;
}

a, i {
   text-decoration: none;
   color: var(--font-white);
   padding: 2px;
}

/* header*/
.nav-header {
    justify-content: end;
}

/* main */
 .row {
    flex-wrap: wrap;
    justify-content: center;
 }

 .card-image {
     position: relative;
     padding: 5px 2px;
 }

 .name {
    position: absolute;
    bottom: 8px;
    left: 2;
    color: var(--font-white);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
 }




